* {
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.general-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Header */
.section-header {
    max-height: 112px;
    max-width: 600px;
}

/* Content */
.section-content {
    height: 450px;
    width: 450px;
}

.header-content {
    display: flex;
    width: 100%;
    height: 150px;
}

.logo-business-content {
    width: 150px;
    height: 150px;
}

.business-logo {
    width: 150px;
    height: 150px;
}

.title-business-content {
    width: calc(100% - 150px);
    height: 150px;
}

.description-business-content {
    display: flex;
    margin: 40px 0px;
}

h1 {
    font-size: 16px;
    font-weight: bolder;
}

p {
    font-size: 13px;
}

/* Footer */
.section-footer {
    max-height: 112px;
    max-width: 600px;
}

/* Mask footer img */

.img-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 999;
    width: 44.6%;
}

.img-logo {
    height: 112px;
    width: 52%;
}

.img-links {
    width: 35%;
    height: 105px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.link {
    width: 100%;
    height: 48%;
}


/* Tamaño imagenes Header y Footer */
.imgs-sizes {
    height: 100%;
    width: 100%;
}


@media screen and (max-width:480px) {

    /* Content */
    .section-content {
        margin: 10px 0px;
        height: 450px;
        width: 300px;
    }

    h1 {
        font-size: 13px;
        font-weight: bolder;
    }

    p {
        font-size: 13px;
    }


    /* Mask footer img */

    .img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: 80%;
    }

    .img-logo {
        height: 112px;
        width: 52%;
    }

    .img-links {
        width: 35%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 100%;
        height: 36%;
    }
}



@media only screen and (min-width:481px) and (max-width: 610px) {

    .section-content {
        margin: 10px 0px;
        height: 450px;
        width: 300px;
    }

    h1 {
        font-size: 13px;
        font-weight: bolder;
    }

    p {
        font-size: 13px;
    }


    /* Mask footer img */

    .img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: 80%;
    }

    .img-logo {
        height: 112px;
        width: 52%;
    }

    .img-links {
        width: 35%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 100%;
        height: 48%;
    }
}



@media only screen and (min-width:611px) and (max-width: 700px) {
    .section-content {
        margin: 10px 0px;
        height: 450px;
        width: 450px;
    }

    h1 {
        font-size: 13px;
        font-weight: bolder;
    }

    p {
        font-size: 13px;
    }


    /* Mask footer img */

    .img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: 100%;
    }

    .img-logo {
        height: 112px;
        width: 39%;
    }

    .img-links {
        width: 28%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 100%;
        height: 48%;
    }
}



@media only screen and (min-width:701px) and (max-width: 800px) {
    .section-content {
        margin: 10px 0px;
        height: 450px;
        width: 450px;
    }

    h1 {
        font-size: 13px;
        font-weight: bolder;
    }

    p {
        font-size: 13px;
    }


    /* Mask footer img */

    .img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: 100%;
    }

    .img-logo {
        height: 112px;
        width: 28%;
    }

    .img-links {
        width: 38%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 77%;
        height: 48%;
    }
}


@media only screen and (min-width:801px) and (max-width: 1000px) {
    .section-content {
        margin: 10px 0px;
        height: 450px;
        width: 450px;
    }

    h1 {
        font-size: 13px;
        font-weight: bolder;
    }

    p {
        font-size: 13px;
    }


    /* Mask footer img */

    .img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: 80%;
    }

    .img-logo {
        height: 112px;
        width: 31%;
    }

    .img-links {
        width: 39%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 77%;
        height: 48%;
    }
}


@media only screen and (min-width:1174px)and (max-width: 1356px) {
    .section-content {
        margin: 10px 0px;
        height: 450px;
        width: 450px;
    }

    h1 {
        font-size: 13px;
        font-weight: bolder;
    }

    p {
        font-size: 13px;
    }


    /* Mask footer img */

    .img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: 100%;
    }

    .img-logo {
        height: 112px;
        width: 16%;
    }

    .img-links {
        width: 22%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 77%;
        height: 48%;
    }
}


@media only screen and (min-width:1357px) {
    .section-content {
        margin: 10px 0px;
        height: 450px;
        width: 450px;
    }

    h1 {
        font-size: 13px;
        font-weight: bolder;
    }

    p {
        font-size: 13px;
    }


    /* Mask footer img */

    .img-container {
        display: flex;
        flex-direction: row;
        position: absolute;
        z-index: 999;
        width: 100%;
    }

    .img-logo {
        height: 112px;
        width: 16%;
    }

    .img-links {
        width: 16%;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .link {
        width: 77%;
        height: 48%;
    }
}